<p>Apple Pay</p>

<div id="apple-pay-button" class="apple-pay-button apple-pay-button-black">
</div>

<script>
    var deviceData = null;
    var button = document.querySelector('#apple-pay-button');

    if (window.ApplePaySession && ApplePaySession.supportsVersion(3) && ApplePaySession.canMakePayments()) {
        // This device supports version 3 of Apple Pay.
        console.log("This device supports version 3 of Apple Pay!");
    }

    if (!window.ApplePaySession) {
        console.error('This device does not support Apple Pay');
    }

    if (!ApplePaySession.canMakePayments()) {
        console.error('This device is not capable of making Apple Pay payments');
    }

    braintree.client.create({
        authorization: 'sandbox_rzpcg934_mzwf7bv4zc2bjccb'
    }, function (clientErr, clientInstance) {
        if (clientErr) {
            console.error('Error creating client:', clientErr);
            return;
        }

        braintree.applePay.create({
            client: clientInstance
        }, function (applePayErr, applePayInstance) {
            if (applePayErr) {
                console.error('Error creating applePayInstance:', applePayErr);
                return;
            }
            console.log("Set up your Apple Pay button here");
            // Set up your Apple Pay button here

            button.addEventListener('click', function (event) {
                event.preventDefault();
                console.log("button clicked");

                var paymentRequest = applePayInstance.createPaymentRequest({
                    total: {
                        label: 'My Store',
                        amount: '19.99'
                    },

                    // We recommend collecting billing address information, at minimum
                    // billing postal code, and passing that billing postal code with
                    // all Apple Pay transactions as a best practice.
                    requiredBillingContactFields: [ "94404" ]
                });
                console.log(paymentRequest);
                console.log("paymentRequest.countryCode: ", paymentRequest.countryCode);
                console.log("paymentRequest.currencyCode: ", paymentRequest.currencyCode);
                console.log("paymentRequest.merchantCapabilities: ", paymentRequest.merchantCapabilities);
                console.log("paymentRequest.supportedNetworks: ", paymentRequest.supportedNetworks);

                var session = new ApplePaySession(3, paymentRequest);

                session.onvalidatemerchant = function (event) {
                    applePayInstance.performValidation({
                        validationURL: event.validationURL,
                        displayName: 'My Store'
                    }, function (err, merchantSession) {
                        if (err) {
                            console.log('Apple Pay failed to load.');
                            // You should show an error to the user, e.g. 'Apple Pay failed to load.'
                            return;
                        }
                        session.completeMerchantValidation(merchantSession);
                    });
                };

                session.onpaymentauthorized = function (event) {
                    console.log('Your shipping address is:', event.payment.shippingContact);

                    applePayInstance.tokenize({
                        token: event.payment.token
                    }, function (tokenizeErr, payload) {
                        if (tokenizeErr) {
                            console.error('Error tokenizing Apple Pay:', tokenizeErr);
                            session.completePayment(ApplePaySession.STATUS_FAILURE);
                            return;
                        }

                        // Send payload.nonce to your server.
                        console.log('nonce:', payload.nonce);

                        // If requested, address information is accessible in event.payment
                        // and may also be sent to your server.
                        console.log('billingPostalCode:', event.payment.billingContact.postalCode);

                        // After you have transacted with the payload.nonce,
                        // call `completePayment` to dismiss the Apple Pay sheet.
                        session.completePayment(ApplePaySession.STATUS_SUCCESS);
                    });
                };

                session.begin();
            });
        });
    });


</script>