<p>Apple Pay</p>

<div id="apple-pay-button" class="apple-pay-button apple-pay-button-black">
</div>

<script>
    var deviceData = null;
    var button = document.querySelector('#apple-pay-button');

    if (window.ApplePaySession && ApplePaySession.supportsVersion(3) && ApplePaySession.canMakePayments()) {
        // This device supports version 3 of Apple Pay.
        console.log("This device supports version 3 of Apple Pay!");
    }

    if (!window.ApplePaySession) {
        console.error('This device does not support Apple Pay');
    }

    if (!ApplePaySession.canMakePayments()) {
        console.error('This device is not capable of making Apple Pay payments');
    }

    braintree.client.create({
        authorization: 'sandbox_rzpcg934_mzwf7bv4zc2bjccb'
    }, function (clientErr, clientInstance) {
        if (clientErr) {
            console.error('Error creating client:', clientErr);
            return;
        }

        braintree.applePay.create({
            client: clientInstance
        }, function (applePayErr, applePayInstance) {
            if (applePayErr) {
                console.error('Error creating applePayInstance:', applePayErr);
                return;
            }
            console.log("Set up your Apple Pay button here");
            // Set up your Apple Pay button here

            button.addEventListener('click', function (event) {
                event.preventDefault();
                console.log("button clicked");

                var paymentRequest = applePayInstance.createPaymentRequest({
                    total: {
                        label: 'My Store',
                        amount: '19.99'
                    },

                    // We recommend collecting billing address information, at minimum
                    // billing postal code, and passing that billing postal code with
                    // all Apple Pay transactions as a best practice.
                    requiredBillingContactFields: [ "94404" ]
                });
                console.log(paymentRequest.countryCode);
                console.log(paymentRequest.currencyCode);
                console.log(paymentRequest.merchantCapabilities);
                console.log(paymentRequest.supportedNetworks);

                var session = new ApplePaySession(3, paymentRequest);
            });
        });
    });


</script>