<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- includes the Braintree JS client SDK -->
  <script src="https://js.braintreegateway.com/web/3.79.1/js/client.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.79.1/js/hosted-fields.min.js"></script>

  <!-- includes jQuery -->
  <script src="http://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

  <!-- Apple Pay -->

  <script src="https://js.braintreegateway.com/web/3.79.1/js/apple-pay.min.js"></script>

  <!-- Use the following code to load the button script into your webpage from the content delivery network -->
  <script src="https://applepay.cdn-apple.com/jsapi/v1/apple-pay-sdk.js"></script>

  <!-- Device data collectors -->
  <script src="https://js.braintreegateway.com/web/3.79.1/js/data-collector.min.js"></script>



</head>


<body>
  {{{body}}}
</body>

</html>